
<div class ="hero">
  
</div>





<div class="col-10 offset-1 about">
  <br />
  <h1>About Cuppa</h1>
  <br />
  
  <p>
    Cuppa was built by <a target="_blank" href="https://github.com/michloud/Cuppa">Michele Louden</a>, a highly skilled web developer helping clients bring their visions to life.

  </p>
  <br />
  <p>
    She was inspired to share her experiences in tasting great coffees from around the world with other coffee lovers.
  </p>
  <br />
  <p>
    Michele was certified through the University of Central Florida's Coding Bootcamp Program 2019-2020, where she acquired the skills and resources to build a solid coding portfolio.
  </p>
  <p>
    If you're interested in learning how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  



</div>