<% @coffees.each do |coffee| %>
  <div class="bland-box col-4 offset-1">
    <h1><%= coffee.name %></h1>
    <i><%= coffee.country %></i><br /><br />
    <p><%= coffee.description %></p><br />
  </div>

<% end %>