/* Sticky Footer Classes */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}



.footer {
  position: absolute;
  top: 100%;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: image_url('beans.jpg');
  background-size: cover;
  
}

